<template>
  <ul class="nav nav-pills">
    <router-link
        to="/"
        tag="li"
        active-class="active"
        exact
    >
      <a>Home</a>
    </router-link>
    <router-link
        to="/user"
        tag="li"
        active-class="active"
    >
      <a>User</a>
    </router-link>
  </ul>
</template>

<script>
  export default {
    name: "header"
  }
</script>

<style scoped>

</style>